@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Pirata+One&family=Rock+Salt&display=swap");
.sth { min-height: 4rem; display: grid; place-items: center; background: linear-gradient(#211d2f 0%, #e82980 90%), linear-gradient(to right, #211d2f 0%, #ff5f1a 90%), linear-gradient(#f1eeeb 0%, #f1eeeb 100%); background-blend-mode: screen, multiply; background-position: center; background-size: cover; color: #fff; padding: 15px; }

.sth h2 { font-family: 'Pirata One', serif; font-size: 3rem; text-align: center; }

.center { text-align: center; }

.full { flex-grow: 1; width: 100%; }

.flex-box { display: flex; }

.flex-end { justify-content: flex-end; }

.flex-center { justify-content: center; }

.handwriting { font-family: 'Rock Salt', serif; }

h2.pirate { font-family: 'Pirata One', serif; font-size: 3rem; text-align: center; }

/* Skull Icon ================================== */
.skull-icon { fill: #0e0f11; }

/* separated so can be changed individually */
#bg, #skull { fill: #f1eeeb; }

#crown, #brim { fill: #ff5f1a; }

#band { fill: #e82980; }

#browL, #browR, #nose, #outline { fill: #211d2f; }

#eyeL, #eyeR { fill: #ff5f1a; }

/* Separated so can be colored individually */
#feather .upper, #feather .lower { fill: #211d2f; }

#beard, #stache { fill: #211d2f; }

.highlight { fill: #ff5f1a; }

.shade { fill: #211d2f; }

.switch { position: relative; display: inline-block; width: 90px; height: 34px; margin-top: .5rem; }

.switch input { opacity: 0; width: 0; height: 0; }

.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; border: 1px solid #211d2f; -webkit-transition: .5s; transition: .5s; }

.slider:before { position: absolute; content: ""; height: 28px; width: 28px; left: 0; bottom: 0; background-color: #f1eeeb; border: 2px solid #211d2f; -webkit-transition: .5s; transition: .5s; }

.slider::after { content: "HIDE"; position: absolute; top: 5px; right: 15px; color: #211d2f; transition: .7s; }

input:checked + .slider { background-color: #ff5f1a; border: 2px solid #ff5f1a; }

input:focus + .slider { box-shadow: 0 0 1px #ff5f1a; }

input:checked + .slider:before { background-color: #fff; border: 2px solid #ff5f1a; -webkit-transform: translateX(56px); -ms-transform: translateX(56px); transform: translateX(56px); }

input:checked + .slider::after { content: "SHOW"; position: absolute; top: 5px; left: -10px; color: #fff; }

/* Rounded sliders */
.slider.round { border-radius: 34px; }

.slider.round:before { border-radius: 50%; }

/* width and height on card */
.card { background-color: #1a0800; width: 100%; height: 16.5rem; -webkit-perspective: 500px; perspective: 500px; }

/* container to position the faces */
.cardInner { position: relative; width: 100%; height: 100%; text-align: center; transition: transform 1s; transform-style: preserve-3d; border-bottom: 1px solid #211d2f; }

.cardFront, .cardBack { position: absolute; width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden; padding: 1rem; }

/* this was the irritating bit:
When the overall thing is hovered, flip the bit in the middle!! */
.flipTheCard { transform: rotateY(180deg); }

.cardBack { transform: rotateY(180deg); }

.cardBack .handwriting { display: block; text-align: left; margin-bottom: 2rem; }

.cardFront { background-color: #f1eeeb; color: #211d2f; display: flex; gap: 1rem; }

.cardFront .picture-box { width: 50%; flex-grow: 0; flex-shrink: 0; }

.cardFront img { width: 100%; object-fit: cover; object-position: top; aspect-ratio: 1/1; max-height: 100%; border: .5rem solid #fff; margin: 0; }

.cardFront.alt { flex-direction: row-reverse; }

.cardBack { background-color: #211d2f; }

.project { /* Styling adjustmemts for Glide.js */ }

.project header { border-bottom: 1px solid #ff5f1a; margin-bottom: 2rem; }

.project .title { text-align: center; grid-area: title; font-family: 'Pirata One', serif; font-size: 2.5rem; }

.project .title .sub { font-size: .5em; font-family: 'Manrope', sans-serif; }

.project .feat { grid-area: feat; display: block; width: 80%; margin: 0 auto; position: relative; z-index: 2; box-shadow: 0px 10px 20px 10px rgba(33, 29, 47, 0.2); }

.project .blurb, .project .solid { padding: 1rem; }

.project .blurb { grid-area: blurb; background-color: #f1eeeb; color: #211d2f; padding-top: 6rem; position: relative; top: -5rem; margin-bottom: -5rem; }

.project .solid { margin: 0 auto; width: 100%; max-width: 1000px; }

.project .glide { box-shadow: 0px 0px 20px 16px rgba(33, 29, 47, 0.2); }

.project .glide .glide__slide img { width: 25vw; aspect-ratio: 3/4; object-fit: cover; }

.project .glide.pitch-deck .glide__slide img { width: 80vw; aspect-ratio: 16/9; object-fit: contain; }

.project .skull-logo { margin-right: auto; width: 30%; }

.project header h1 { font-size: 1.2rem; margin-right: 1rem; }

.project nav { border-top: none; border-bottom: none; }

.project footer { margin-top: 3rem; }

@media (min-width: 768px) { .project .skull-logo { width: 15%; transform: translateY(0); }
  .project main { display: grid; grid-template-areas: "title feat" "blurb blurb"; }
  .project .title { text-align: left; margin: 2rem; position: relative; top: -1.5rem; }
  .project .feat { width: 30vw; max-width: 450px; margin-right: 2rem; }
  .project .blurb { padding-right: calc(30vw + 4rem); padding-top: 1rem; top: -15rem; margin-bottom: -15rem; min-height: 17rem; } }

@media (min-width: 1000px) { .project .blurb { top: -20rem; margin-bottom: -20rem; min-height: 24rem; }
  .project .title { font-size: 3rem; } }

@media (min-width: 1030px) { .project .title { margin-left: 0; } }

@media (min-width: 1300px) { .project .blurb { top: -28rem; margin-bottom: -28rem; min-height: 32rem; } }

* { box-sizing: border-box; scroll-behavior: smooth; }

body { background-color: #211d2f; color: #f1eeeb; font-weight: 500; font-family: 'Manrope', sans-serif; }

main { position: relative; overflow-x: hidden; }

.modal { position: absolute; top: 0; left: 0; z-index: 1; transition: .5s; transform: translate3d(100%, 0, 0); }

.modal a { text-decoration: none; margin: 0 auto; text-align: center; }

.modalOn { transform: translate3d(0, 0, 0); -webkit-box-shadow: 0px 10px 9px -6px rgba(33, 29, 47, 0.5); box-shadow: 0px 10px 9px -6px rgba(33, 29, 47, 0.5); }

header { display: flex; padding: 1rem; gap: 2rem; align-items: center; }

header h1 { font-family: 'Rock Salt', serif; font-size: 1.5rem; text-align: center; line-height: 1.8rem; }

.skull-logo { width: 40%; flex-shrink: 0; }

nav, footer { border-top: 1px solid #ff5f1a; border-bottom: 1px solid #ff5f1a; text-align: center; padding: 1rem; }

nav i, footer i { font-size: 1.7rem; }

nav ul { display: none; padding: 0; }

nav ul li { list-style: none; padding: 1rem; }

nav ul li:not(.mobile-only) { display: none; }

nav .handwriting { display: none; }

nav a, #backToTop a { text-decoration: none; color: #f1eeeb; }

footer { border-bottom: none; padding-bottom: 2rem; }

.close { cursor: pointer; }

.social { display: flex; gap: 3rem; padding: 1rem; }

.social .social-icon { width: 100%; }

.social .social-icon .icon { fill: #f1eeeb; transition: .5s; }

.social .social-icon .icon:hover { fill: #ff5f1a; }

section, .modal { border: 1rem solid #211d2f; padding: 1rem; background-color: #f1eeeb; color: #211d2f; }

section h2, .modal h2 { font-family: 'Pirata One', serif; color: #e82980; font-size: 2rem; margin: 0 0 1rem; }

.modal blockquote { margin: 0; }

.modal blockquote i { color: #e82980; }

h3 { text-align: center; }

.avatar { border-radius: 50%; border: 0.5rem solid #211d2f; aspect-ratio: 1/1; object-fit: cover; width: 40%; }

.btn { display: inline-block; margin: 0; padding: .5rem 1rem; border: 1px solid #ff5f1a; text-decoration: none; color: #ff5f1a; transition: .5s; }

.btn:hover { background-color: #ff5f1a; color: #f1eeeb; text-decoration: underline; cursor: pointer; }

.cta .btn { align-self: flex-end; justify-self: flex-end; margin-right: 1rem; margin-bottom: 1rem; }

.switches { display: flex; justify-content: space-around; }

.stack { display: flex; flex-direction: column; }

#searchbar { height: 34px; border-radius: 34px; width: 100%; background-color: #f1eeeb; border: 1px solid #211d2f; padding-left: 1rem; }

.card a:not(.btn) { text-decoration: none; color: #e82980; transition: .5s; }

.card a:not(.btn):hover { text-decoration: underline; }

#backToTop { margin: 1rem 0; }

@media (max-width: 767px) { .desktop-only { display: none !important; } }

@media (min-width: 768px) { header { justify-content: center; }
  .skull-logo { width: 25%; flex-shrink: 0; }
  .logline { text-align: center; font-size: 1.2rem; padding-top: 2rem; }
  .logline, .modal blockquote { margin: 0 6rem; }
  .modal p { margin-left: 6rem; margin-right: 6rem; }
  .avatar { width: 20%; margin: 2rem 0 2rem; }
  nav { padding: 0 0 1rem; }
  nav i, nav i:before { display: none; }
  nav ul { display: flex; margin: 0; justify-content: center; align-items: center; }
  nav ul li { display: block !important; }
  nav ul .mobile-only { display: none !important; }
  .sth { min-height: 6rem; }
  .switches { justify-content: center; }
  .stack { margin: 0 .5rem; }
  #searchbar { width: 45%; }
  .cards { display: grid; gap: .5rem; padding: 0 .5rem 1rem; grid-template-columns: 1fr 1fr; margin-bottom: 2rem; }
  .card img { transition: .5s; }
  .card img:hover { transform: scale(1.1); }
  .social { margin: 0 30%; } }

@media (min-width: 1024px) { body { overflow-x: hidden; }
  header { justify-content: flex-end; max-height: 150px; }
  .skull-logo { margin-right: auto; transform: translateY(22%); z-index: 2; }
  #bg { fill: #fff; }
  main, header { margin: 0 auto; width: 100%; max-width: 1000px; }
  header { margin-top: .5rem; }
  section h2, .modal h2 { font-size: 2.5rem; margin-top: 1rem; }
  .modal .handwriting { margin-right: 5rem; }
  #intro, #featured { margin: 1rem 2rem; }
  .cards { padding: 0 0 1rem; gap: 1rem; }
  .social { margin: 0 35%; } }

.ez-grid { display: grid; grid-template-columns: 1fr; gap: 15px; margin: 15px 0; }

.ez-1_2, .ez-1_3, .ez-1_4, .ez-1_6, .ez-2_3, .ez-3_4, .ez-5_6, .ez-full { padding: 15px; }

.border { border: 1px solid #ff5f1a; }

.solid { background-color: #f1eeeb; color: #211d2f; }

.ez-center { display: grid; place-content: center; min-height: 4rem; }

.ez-center i { font-size: 6rem; }

.ez-card { min-height: 12rem; display: flex; flex-direction: column; justify-content: space-between; }

@media (min-width: 768px) { .ez-grid { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .ez-full { grid-column-end: span 12; }
  .ez-1_2 { grid-column-end: span 6; }
  .ez-1_3 { grid-column-end: span 4; }
  .ez-2_3 { grid-column-end: span 8; }
  .ez-1_4 { grid-column-end: span 3; }
  .ez-3_4 { grid-column-end: span 9; }
  .ez-1_6 { grid-column-end: span 2; }
  .ez-5_6 { grid-column-end: span 10; } }
