@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Pirata+One&family=Rock+Salt&display=swap");
.sth { min-height: 6rem; background-color: #ccc; display: grid; place-items: center; }

.center { text-align: center; }

.full { flex-grow: 1; width: 100%; }

.flex-box { display: flex; }

.flex-end { justify-content: flex-end; }

.flex-center { justify-content: center; }

.handwriting { font-family: 'Rock Salt', serif; }

/* Skull Icon ================================== */
.skull-icon { fill: #0e0f11; }

/* separated so can be changed individually */
#bg, #skull { fill: #f1eeeb; }

#crown, #brim { fill: #ff5f1a; }

#band { fill: #e82980; }

#browL, #browR, #nose, #outline { fill: #211d2f; }

#eyeL, #eyeR { fill: #ff5f1a; }

/* Separated so can be colored individually */
#feather .upper, #feather .lower { fill: #211d2f; }

#beard, #stache { fill: #211d2f; }

.highlight { fill: #ff5f1a; }

.shade { fill: #211d2f; }

.switch { position: relative; display: inline-block; width: 90px; height: 34px; margin-top: .5rem; }

.switch input { opacity: 0; width: 0; height: 0; }

.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #f1eeeb; border: 1px solid #211d2f; -webkit-transition: .5s; transition: .5s; }

.slider:before { position: absolute; content: ""; height: 28px; width: 28px; left: 0; bottom: 0; background-color: #f1eeeb; border: 2px solid #211d2f; -webkit-transition: .5s; transition: .5s; }

.slider::after { content: ""; position: absolute; top: 5px; right: 15px; color: #211d2f; transition: .7s; }

input:checked + .slider { background-color: #ff5f1a; border: 2px solid #ff5f1a; }

input:focus + .slider { box-shadow: 0 0 1px #ff5f1a; }

input:checked + .slider:before { background-color: #fff; border: 2px solid #ff5f1a; -webkit-transform: translateX(56px); -ms-transform: translateX(56px); transform: translateX(56px); }

input:checked + .slider::after { content: "SHOW"; position: absolute; top: 5px; left: -10px; color: #fff; }

/* Rounded sliders */
.slider.round { border-radius: 34px; }

.slider.round:before { border-radius: 50%; }

/* width and height on card */
.card { background-color: #1a0800; width: 100%; height: 15rem; perspective: 1000px; }

/* container to position the faces */
.cardInner { position: relative; width: 100%; height: 100%; text-align: center; transition: transform 1s; transform-style: preserve-3d; border-bottom: 1px solid #211d2f; }

.cardFront, .cardBack { position: absolute; width: 100%; height: 100%; backface-visibility: hidden; padding: 1rem; }

/* this was the irritating bit:
When the overall thing is hovered, flip the bit in the middle!! */
.card:hover .cardInner { transform: rotateY(180deg); }

.cardBack { transform: rotateY(180deg); }

.cardFront { background-color: #f1eeeb; color: #211d2f; display: flex; gap: 1rem; }

.cardFront .picture-box { width: 50%; flex-grow: 0; flex-shrink: 0; }

.cardFront img { width: 100%; object-fit: cover; object-position: top; aspect-ratio: 1/1; border: .5rem solid #fff; margin: 0; }

.cardFront.alt { flex-direction: row-reverse; }

.cardBack { background-color: #211d2f; }

* { box-sizing: border-box; }

body { background-color: #211d2f; color: #f1eeeb; font-weight: 500; font-family: 'Manrope', sans-serif; }

main { position: relative; overflow-x: hidden; }

.modal { position: absolute; top: 0; left: 0; z-index: 1; transition: .5s; transform: translate3d(100%, 0, 0); }

.modalOn { transform: translate3d(0, 0, 0); }

header { display: flex; padding: 1rem; gap: 2rem; align-items: center; }

header h1 { font-family: 'Rock Salt', serif; font-size: 1.5rem; text-align: center; line-height: 1.8rem; }

.skull-logo { width: 40%; flex-shrink: 0; }

nav, footer { border-top: 1px solid #ff5f1a; border-bottom: 1px solid #ff5f1a; text-align: center; padding: 1rem; }

nav i, footer i { font-size: 1.7rem; }

nav ul { display: none; }

footer { border-bottom: none; }

section, .modal { border: 1rem solid #211d2f; padding: 1rem; background-color: #f1eeeb; color: #211d2f; }

section h2, .modal h2 { font-family: 'Pirata One', serif; color: #e82980; font-size: 2rem; margin: 0 0 1rem; }

.modal blockquote { margin: 0; }

.modal blockquote i { color: #e82980; }

.avatar { border-radius: 50%; border: 2px solid #fff; aspect-ratio: 1/1; object-fit: cover; width: 40%; }

.btn { display: inline-block; margin: 0; padding: .5rem 1rem; border: 1px solid #ff5f1a; text-decoration: none; color: #ff5f1a; transition: .5s; }

.btn:hover { background-color: #ff5f1a; color: #f1eeeb; text-decoration: underline; }

.switches { display: flex; justify-content: space-around; }

.stack { display: flex; flex-direction: column; }

#searchbar { height: 34px; border-radius: 34px; width: 100%; background-color: #f1eeeb; border: 1px solid #211d2f; padding-left: 1rem; }
