.project {

  header {
    border-bottom: 1px solid $primary;
    margin-bottom: 2rem;
  }

  .title {
    text-align: center;
    grid-area: title;
    @include pirata;
    font-size: 2.5rem;
    .sub {
      font-size: .5em;
      @include manrope;
    }
  }

  .feat{
    grid-area:feat;
    display: block;
    width:80%;
    margin:0 auto;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 20px 10px rgba(33, 29, 47, .2);
  }

  .blurb, .solid {
    padding: 1rem;
  }

  .blurb {
    grid-area:blurb;
    background-color: $light;
    color: $dark;
    padding-top: 6rem;
    position:relative;
    top: -5rem;
    margin-bottom: -5rem;
  }

  .solid {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }

  /*
  Styling adjustmemts for Glide.js
  */
  .glide {
    // margin: 1rem 0;
    box-shadow: 0px 0px 20px 16px rgba(33, 29, 47, .2);

    .glide__slide img {
      width: 25vw;
      aspect-ratio: 3/4;
      object-fit: cover;
    }

    &.pitch-deck {
      .glide__slide img {
        width: 80vw;
        aspect-ratio: 16/9;
        object-fit: contain;
      }
    }

  }



  .skull-logo {
    margin-right: auto;
    width: 30%;
  }

  header h1 {
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  nav {
    border-top: none;
    border-bottom: none;
  }

  footer {
    margin-top: 3rem;
  }

  // this feels like 'cheating', but it stops things from interfereing with each other!
  @media (max-width:767px) {

  }

  @media (min-width:768px) {

    .skull-logo {
      width: 15%;
      transform: translateY(0);
    }

    main {
      display: grid;
      grid-template-areas:
        "title feat"
        "blurb blurb";
    }

    .title {
      text-align: left;
      margin: 2rem;
      position: relative;
      top: -1.5rem;
    }

    .feat {
      width: 30vw;
      max-width: 450px;
      margin-right: 2rem;
    }

    .blurb {
      padding-right: calc(30vw + 4rem);
      padding-top: 1rem;
      top: -15rem;
      margin-bottom: -15rem;
      min-height: 17rem;
    }

  }



  @media (min-width:1000px) {

    .blurb {
      top: -20rem;
      margin-bottom: -20rem;
      min-height: 24rem;
    }

    .title {
      font-size: 3rem;
    }

  }

  @media (min-width:1030px) {
    .title {
      margin-left:0;
    }

  }

  @media (min-width:1300px) {

    .blurb {
      top: -28rem;
      margin-bottom: -28rem;
      min-height: 32rem;
    }

  }




}
