
$dark : #211d2f;
$light: #f1eeeb;
$primary: #ff5f1a;
$pop: rgb(232,41,128);

$unit: 2rem;

// =====================

@mixin manrope{font-family: 'Manrope', sans-serif;}
@mixin pirata{font-family: 'Pirata One', serif;}
@mixin rockSalt {font-family: 'Rock Salt', serif;}

// =========== utility classes

// placeholder
.sth {
  min-height: 4rem;
  display: grid;
  place-items: center;
  background:
    linear-gradient($dark 0%, $pop 90%),
    linear-gradient(to right, $dark 0%, $primary 90%),
    linear-gradient($light 0%, $light 100%);
  background-blend-mode: screen, multiply;
  background-position: center;
  background-size: cover;
  // display: none;
}

.center {
  text-align: center;
}

.full {
  flex-grow: 1;
  width: 100%;
}

.flex-box {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.handwriting {
  @include rockSalt;
}
