
$dark : #211d2f;
$light: #f1eeeb;
$primary: #ff5f1a;
$pop: rgb(232,41,128);

$unit: 2rem;

// =====================

@mixin manrope{font-family: 'Manrope', sans-serif;}
@mixin pirata{font-family: 'Pirata One', serif;}
@mixin rockSalt {font-family: 'Rock Salt', serif;}

// =========== utility classes

// placeholder
.sth {
  min-height: 8rem;
  display: grid;
  place-items: center;
  background-image: url('../img/cta-placeholder.jpg');
  background-position: top;
  background-size: cover;
  // display: none;
}

.center {
  text-align: center;
}

.full {
  flex-grow: 1;
  width: 100%;
}

.flex-box {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.handwriting {
  @include rockSalt;
}
