@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Pirata+One&family=Rock+Salt&display=swap');
@import 'variables','skull', 'slider', 'cards';


// =====================

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $dark;
  color: $light;
  font-weight: 500;
  @include manrope;
}

main {
  position: relative;
  overflow-x: hidden;
}

.modal {
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  transition: .5s;
  transform: translate3d(100%, 0, 0);
}

.modalOn {
  transform: translate3d(0, 0, 0);
}

header {
  display: flex;
  padding: $unit/2;
  gap: $unit;
  align-items: center;

  h1{
    @include rockSalt;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
  }
}

.skull-logo {
  width: 40%;
  flex-shrink: 0;
}

nav, footer {
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  text-align: center;
  padding: 1rem;

  i {
    font-size: 1.7rem;
  }
}

nav {
  ul {
    display: none;
    padding: 0;

    li {
      list-style:none;
      padding: 1rem;

      &:not(.mobile-only) {
        display: none;
      }

    }

  }

  .handwriting {
    display: none;
  }
}

nav a,
#backToTop a {
  text-decoration: none;
  color: $light;
}

footer {
  border-bottom: none;
  padding-bottom: 2rem;
}

.social{
  display:flex;
  gap:3rem;
  padding:1rem;

  .social-icon {

    width: 100%;

    .icon {
      fill: $light;
      transition: .5s;

      &:hover {
        fill: $primary;
      }

    }

  }

}

section, .modal {
  border: $unit/2 solid $dark;
  padding: $unit/2;
  background-color: $light;
  color: $dark;

  h2 {
    @include pirata;
    color: $pop;
    font-size: 2rem;
    margin: 0 0 1rem;
  }

}

.modal {

  blockquote {
    margin: 0;

    i {
      color: $pop;
    }

  }
}

.avatar {
  border-radius: 50%;
  border: .5rem solid $dark;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 40%;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: .5rem 1rem;
  border: 1px solid $primary;
  text-decoration: none;
  color: $primary;
  transition: .5s;

  &:hover {
    background-color: $primary;
    color: $light;
    text-decoration: underline;
  }

}

.cta .btn {
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.switches {
  display: flex;
  justify-content: space-around;
}

.stack {
  display: flex;
  flex-direction: column;
}

// to match sliders
#searchbar {
  height: 34px;
  border-radius: 34px;
  width: 100%;
  background-color: $light;
  border: 1px solid $dark;
  padding-left: 1rem;
}

.card a:not(.btn) {
  text-decoration: none;
  color: $pop;
  transition: .5s;

  &:hover {
    text-decoration: underline;
  }

}

#backToTop {
  margin:1rem 0;
}

@import 'responsive'
